{% load staticfiles %}

{% load owntags %}

<!DOCTYPE html>
<html>
<head>
	<title>Voidform</title>
	<meta name="keywords" content=""/>
	<meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8"/>
	
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|EB+Garamond|Comfortaa:400,700|Roboto:400,700|Roboto+Condensed:400,700|Roboto+Slab:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>    
    
	<link rel="stylesheet" href="{% static 'css/basic.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/template.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/interface.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/pages.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/socicon.css' %}"/>
	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	
	{% include 'widgets/include_js.html' %}
	
</head>
<body>
<div id="bg-left">z</div>    
<div id="bg-right"></div>    
    

<div id="page-wrapper-outer">
    <div id="page-wrapper-inner"></div>    
</div>

        


<div id="all">
<div id="page">

<div id="header">
    <a href="/" class="logo"></a>
    
	<div class="menu">
		<a class="ever" href="/">Home</a>
<!--		<a class="ever" href="{% url 'karhu-blog-feed' %} "></a>-->
<!--		<a class="ever" href="{% url 'karhu-lineup-feed' %} "></a>-->
<!--		<a class="ever" href="{% url 'karhu-events-feed' %} "></a>-->
<!--		<a class="ever" href="{% url 'karhu-gallery-feed' %} "></a>-->
		<a class="ever" href="{% url 'karhu-music-feed' %} ">Митол</a>
        <a class="ever" href="/weneedyou">Вокалер</a>
	</div>
    
    <div class="socicons">
        <a href="https://www.facebook.com/voidform.band" ><span class="socicon-facebook"></span></a>
        <a href="https://vk.com/voidform" ><span class="socicon-vkontakte"></span></a>
        <a href="https://www.youtube.com/channel/UC9naXJEF5rjfWtKZs1RxZaQ" ><span class="socicon-youtube"></span></a>
        <a href="https://soundcloud.com/voidform" ><span class="socicon-soundcloud"></span></a>
        <a href="http://www.last.fm/ru/music/Voidform" ><span class="socicon-lastfm"></span></a>
        
    </div>
</div>

<div id="main">
	<div id="mainwrapper">
		<div id="content">
		<div id="slot">
				{% block content %}
					This part of base.html must be replaced by some template.
				{% endblock %}		
			
		</div>
		</div>
	</div>

</div>

<div id="footer">
	<div id="footerwrapper">
	</div>	
</div>


</div>
</div>

</body>
</html>
