{% load staticfiles %}

{% load owntags %}

<!DOCTYPE html>
<html>
<head>
	<title>Voidform</title>
	<meta name="keywords" content=""/>
	<meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8"/>
	
	<link rel="stylesheet" href="{% static 'css/basic.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/template.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/pages.css' %}"/>
	

	
	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	
	{% include 'widgets/include_js.html' %}
	
</head>
<body>

<div id="all">
<div id="page">

<div id="header">
	<div class="menu">
		<a href="/">Home</a>
		<a href="{% url 'karhu-blog-feed' %} ">Бложик</a>
		<a href="{% url 'karhu-lineup-feed' %} ">Люди</a>
		<a href="{% url 'karhu-events-feed' %} ">Календарь</a>
		<a href="{% url 'karhu-gallery-feed' %} ">Галерейка</a>
		<a href="{% url 'karhu-music-feed' %} ">Митол</a>
	</div>
</div>

<div id="main">
	<div id="mainwrapper">
		<div id="content">
		<div id="slot">
				
				{% block content %}
					This part of base.html must be replaced by some template.
				{% endblock %}		
			
		</div>
		</div>
	</div>

</div>

<div id="footer">
	<div id="footerwrapper">
	{% render_slot 1 %}
	</div>	
</div>


</div>
</div>

</body>
</html>
