{% load staticfiles %}

{% load owntags %}

<!DOCTYPE html>
<html>
<head>
	<title>Voidform</title>
	<meta name="keywords" content=""/>
	<meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8"/>
	
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|EB+Garamond|Comfortaa:400,700|Roboto:400,700|Roboto+Condensed:400,700|Roboto+Slab:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>    
    
	<link rel="stylesheet" href="{% static 'css/basic.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/template.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/interface.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/pages.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/socicon.css' %}"/>
	
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	
	{% include 'widgets/include_js.html' %}
	
</head>
<body>
<div id="bg-left"></div>
<div id="bg-right"></div>    
    

<div id="page-wrapper-outer">
    <div id="page-wrapper-inner"></div>    
</div>

        


<div id="all">
<div id="page">

<div id="header">
    <a href="/" class="logo"></a>

	<!--
	<div class="menu">
		<a class="ever" href="/">Home</a>
	</div>
	-->
    
    <div class="socicons">
        <a href="https://www.facebook.com/voidform.band" ><span class="socicon-facebook"></span></a>
        <a href="https://vk.com/voidform" ><span class="socicon-vkontakte"></span></a>
        <a href="https://www.youtube.com/channel/UC9naXJEF5rjfWtKZs1RxZaQ" ><span class="socicon-youtube"></span></a>
        <a href="https://soundcloud.com/voidform" ><span class="socicon-soundcloud"></span></a>
        <a href="http://www.last.fm/ru/music/Voidform" ><span class="socicon-lastfm"></span></a>
        
    </div>
</div>

<div id="main">
	<div id="mainwrapper">
		<div id="content">
		<div id="slot">
				{% block content %}
					This part of base.html must be replaced by some template.
				{% endblock %}		
			
		</div>
		</div>
	</div>

</div>

<div id="footer">
	<div id="footerwrapper">
	</div>	
</div>


</div>
</div>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-73615861-1', 'auto');
	ga('send', 'pageview');

</script>

</body>
</html>
