a:link, a.ever, a.ever:visited {
    color: #BEA17B;
}

a:visited {
    color: #B7A97C;
}

h1, h2, h3, h4, h5, h6 {
    font-family: roboto slab;
}

h1 {
	margin: 0 0 1em 0;
    font-size: 2.4em;
}

p, ul {
	font-size: 1.6em;
    margin-bottom: 0.5rem;

}

p, li {
    line-height: 1.2rem;
}


ul {
    list-style-position: outside;
    margin-left: 1rem;
}